#include "Shared.xcconfig"

PRODUCT_NAME = Eudoramail
EXECUTABLE_NAME = Eudoramail
PRODUCT_BUNDLE_IDENTIFIER = com.qualcomm.eudora
INFOPLIST_FILE = XcodeSupport/Eudora-Info.plist
WRAPPER_EXTENSION = app
GENERATE_PKGINFO_FILE = YES
GCC_PREFIX_HEADER = $(SRCROOT)/Include/EudoraXcodePrefix.h
GCC_PRECOMPILE_PREFIX_HEADER = YES
OPENSSL_BUILD_ROOT = $(SRCROOT)/XcodeSupport/Generated/OpenSSL/darwin-i386
OPENSSL_ROOT = $(OPENSSL_BUILD_ROOT)/install
HEADER_SEARCH_PATHS = $(inherited) $(OPENSSL_ROOT)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(OPENSSL_ROOT)/lib
OTHER_LDFLAGS = $(inherited) -Wl,-e,_SimpleStart -lssl -lcrypto
