SDKROOT = macosx10.13
MACOSX_DEPLOYMENT_TARGET = 10.13
ARCHS = i386
SUPPORTED_PLATFORMS = macosx
ALWAYS_SEARCH_USER_PATHS = NO
USE_HEADERMAP = NO
GCC_C_LANGUAGE_STANDARD = gnu89
CLANG_CXX_LANGUAGE_STANDARD = gnu++98
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_TREAT_WARNINGS_AS_ERRORS = NO
COPY_PHASE_STRIP = NO
HEADER_SEARCH_PATHS = $(SRCROOT) $(SRCROOT)/Include "$(SRCROOT)/Editor/Source/Application Headers" "$(SRCROOT)/Editor/Source/Editor Source" "$(SRCROOT)/Editor/Source/Precompiled headers"
OTHER_CFLAGS = $(inherited) -D__MACH__=1 -DTARGET_API_MAC_CARBON=1 -DEUDORA_XCODE_BUILD=1 -DEUDORA_FEATURE_REGISTRATION=0 -DEUDORA_FEATURE_NETWORK_SETUP=0 -DEUDORA_FEATURE_GSSAPI=0 -DEUDORA_FEATURE_WINTERTREE=0 -DEUDORA_FEATURE_TAE=0 -DEUDORA_FEATURE_SPOTLIGHT=0 -DEUDORA_FEATURE_CERTICOM=0 -DEUDORA_FEATURE_IMAP=0 -Wno-deprecated-declarations -Wno-implicit-function-declaration -Wno-incompatible-pointer-types -Wno-int-conversion
OTHER_CPLUSPLUSFLAGS = $(inherited) $(OTHER_CFLAGS)
