<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Settings.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos preferences</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PREF</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos mailbox or text file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos mailbox TOC</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TOCF</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos resource plug-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>rsrc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EuSn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos help</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EuHl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos bundled application attachment</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>eApp</string>
				<string>eAp1</string>
				<string>eAp2</string>
				<string>eAp3</string>
				<string>eAp4</string>
				<string>eAp5</string>
				<string>eAp6</string>
				<string>eAp7</string>
				<string>eAp8</string>
				<string>eAp9</string>
				<string>eApA</string>
				<string>eApB</string>
				<string>eApC</string>
				<string>eApD</string>
				<string>eApE</string>
				<string>eApF</string>
				<string>????</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Eos MIME file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MiME</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos filters</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EuFi</string>
				<string>PrFi</string>
				<string>PsFi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos IMAP mailbox</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>iMbx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos saved search</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>eSrc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Moodwatch dictionary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MuDi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Eudora.icns</string>
			<key>CFBundleTypeName</key>
			<string>Eos vCard</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>vCRD</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Eos</string>
	<key>CFBundleGetInfoString</key>
	<string>Eos EUDORA_VERSION</string>
	<key>CFBundleIconFile</key>
	<string>Eudora.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.qualcomm.eudora</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>Community build of classic Eudora sources</string>
	<key>CFBundleName</key>
	<string>Eos</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>EUDORA_VERSION</string>
	<key>CFBundleSignature</key>
	<string>CSOm</string>
	<key>CFBundleVersion</key>
	<string>EUDORA_VERSION</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>LSPrefersCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Community build of classic Eudora sources</string>
</dict>
</plist>
